@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

body {
  background: rgb(255, 255, 255);
  transition: 0.6s;
}

#titulo {
  text-align: center;
  font-size: 1.5em;
  font-family: "Comic Sans MS";
}

#titulo.dark {
  color: white;
}

#container {
  width: 60%;
  margin: auto;
  border: 2px solid black;
  padding: 20px;

  border-radius: 10px;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
}

#ultimo {
  color: red;
}

#penultimo {
  color: green;
}

.titulo.dark {
  color: white;
}

a {
  text-decoration: none;
}

/*Dark Style*/

body.dark {
  background-color: #2c2c2c;
  color: white;
}

#links a.dark {
    color: white;
}
